:root{
    /*the values that do not have hsl in the front will have a modified alpha channel depending on the needs*/
    /*Primary Colors*/
    --lightRed: 0, 100%, 67%;
    --orangeyYellow: 39, 100%, 56%;
    --greenTeal: 166, 100%, 37%;
    --cobaltBlue: 234, 85%, 45%;
    /*Colors for background gradients*/
    --lightSlateBlue: hsl(252, 100%, 67%);
    --lightRoyalBlue: hsl(241, 81%, 54%);
    --violetBlue: hsla(256, 72%, 46%, 1);
    --persianBlue: hsla(241, 72%, 46%, 0);
    /*Neutral colors*/
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: 241, 100%, 89%;
    --darkGrayBlue: hsl(224, 30%, 27%);
    --darkGrayBlueAlpha: hsla(224, 30%, 27%, 0.65);
    /*Font weights*/
    --fwNormal: 500;
    --fwBold: 700;
    --fwSuperBold: 800;
}

/*declaration of the main font from ttf file*/
@font-face {
    font-family: 'HankenGrotesk';
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
    font-weight: 500 800;
}

/*declaration of an animation that summary-component class uses*/
@keyframes slideRight {
    from{
        transform: translateX(-80px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

/*lines to the horizontal line are a CSS reset partially inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%; 
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*--------------------------------------------------*/

/*utility flex class*/
.u-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    font-size: 1.125rem;
}

body{
    height: 100vh;
    font-family: 'HankenGrotesk';
    -webkit-font-smoothing: antialiased;
}

.main-container{
    flex-direction: column;
    height: 98%;
}

/*the purple backround section styles --------------------------------*/
.result-section{
    background: linear-gradient(var(--lightSlateBlue), var(--lightRoyalBlue));
    color: hsl(var(--lightLavender));
    border-radius: 0 0 2rem 2rem;
    height: 45%;
    flex-direction: column;
    justify-content: space-around;
}

.result-section>h1{
    font-size: 1.15rem;
}

.result-circle{
    border-radius: 50%;
    background: linear-gradient(var(--violetBlue), var(--persianBlue));
    padding: 1.5rem;
    text-align: center;
    aspect-ratio: 1/1;
    font-weight: var(--fwBold);
}

.result-circle>h2{
    font-size: 3.25rem;
    color: var(--white);
}

.result-circle>p{
    color: hsla(var(--lightLavender), 0.5);
}

.result-section h3{
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.result-description{
    padding: 0 2.5rem 1rem 2.5rem;
    text-align: center;
    font-size: 0.9rem;
}
/*----------------------------------------------------*/

/*the white background section styles ----------------*/
.summary-section{
    width: 100%;
    height: 55%;
    padding: 1.75rem;
}

.summary-section>h1{
    position: relative;
    top: 8px;
    color: var(--darkGrayBlue);
    font-size: 1rem;
    font-weight: var(--fwSuperBold);
    height: 10%;
}

.grid-section{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    height: 70%;
}

/*in summary-component styles the animation-delay is calculated from the custom variable that is set to each element that should use this animation*/
/*(the #reaction, #memory, #verbal, #visual elements)*/
/*this idea is heavily inspired by this video https://youtu.be/Qhaz36TZG5Y?t=406 */

.summary-component{
    width: 100%;
    border-radius: 0.5rem;
    justify-content: space-between;
    padding: 0.75rem;
    font-size: 0.9rem;
    transform: translateX(-80px);
    opacity: 0;
    animation: slideRight 800ms forwards;
    animation-delay: calc(var(--component-index) * 150ms);
}

.component-title{
    gap: 0.75rem;
    font-weight: var(--fwBold);
}

.component-score{
    color: var(--darkGrayBlueAlpha);
    font-weight: var(--fwSuperBold);
}

.score-highlight{
    color: var(--darkGrayBlue);
    letter-spacing: 0.025em;
}

/*component-specific styles*/
#reaction{
    background: hsla(var(--lightRed), 0.075);
    --component-index: 1;
}

#reaction p{
    color: hsl(var(--lightRed));
}

#memory{
    background: hsla(var(--orangeyYellow), 0.075);
    --component-index: 2;
}

#memory p{
    color: hsla(var(--orangeyYellow));
}

#verbal{
    background: hsla(var(--greenTeal), 0.075);
    --component-index: 3;
}

#verbal p{
    color: hsla(var(--greenTeal));
}

#visual{
    background: hsla(var(--cobaltBlue), 0.075);
    --component-index: 4;
}

#visual p{
    color: hsl(var(--cobaltBlue));
}
/*----------------------------------------------------*/

#continue-button{
    background: var(--darkGrayBlue);
    border-radius: 2rem;
    border: none;
    color: var(--white);
    padding: 1rem;
    font-weight: var(--fwBold);
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
}

#continue-button:is(:hover, :focus){
    background: linear-gradient(var(--lightSlateBlue), var(--lightRoyalBlue));
}

.attribution{
    height: 2%;
    font-size: 11px; 
    text-align: center; 
}

.attribution a{
    color: hsl(228, 45%, 44%); 
}

/*some changes to make the desktop design look good*/
@media only screen and (min-width: 700px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-container{
        width: 50vw;
        height: 60vh;
        flex-direction: row;
        border-radius: 2rem;
        box-shadow: 20px 20px 50px hsla(var(--lightLavender), 0.45);
    }
    
    .result-section{
        border-radius: 2rem;
    }
    
    .result-section, .summary-section{
        height: 100%;
        width: 50%;
    }

    .result-section>h1{
        font-size: 1.25rem;
    }

    .result-circle{
        padding: 2.5rem;
    }

    .result-circle>h2{
        font-size: 3.75rem;
    }

    .result-description{
        padding: 0 4rem 1rem 4rem;
    }

    .grid-section{
        height: 65%;
    }

    .summary-section>h1{
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    #continue-button{
        margin-top: 45px;
    }

    footer{
        position: fixed;
        bottom: 10px;
    }
}